bracket-properties/src/main/resources/xml/props.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!--  this is generated from props.dtd using dtd2xsd.pl from https://www.w3.org/2000/04/schema_hack/dtd2xsd.pl -->
<schema
  xmlns='http://www.w3.org/2000/10/XMLSchema'
  targetNamespace='http://www.w3.org/namespace/'
  xmlns:t='http://www.w3.org/namespace/'>

 <element name='properties'>
  <complexType>
   <sequence>
    <element ref='t:comment' minOccurs='0' maxOccurs='1'/>
    <element ref='t:entry' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='version' type='string' use='fixed' value='1.0'/>
  </complexType>
 </element>

 <element name='comment'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='entry'>
  <complexType mixed='true'>
   <attribute name='key' type='string' use='required'/>
  </complexType>
 </element>
</schema>